* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F4F0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1120px;
  margin: 88px auto 65px;
}


#title-page h1{
  margin-top: 8px;
  font-size: 36px;
  font-weight: bold;
  color: #1B1B1B;
}

#title-page span {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #E1624F;
}

#description-image {
  margin-top: 40px;
}

#description-image img {
  border-radius: 28px;
  margin-bottom: 24px;
}

p {
  color: #333333;
}

#description-image p {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.content-list {
  margin: 40px 0;
}

.divisor {
  background-color: #D9D9D9;
  height: 1px;
}

#title-list {
  margin: 64px 0;
}

#title-list .title span {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #E1624F;
}

#title-list .title h2 {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
}

.card-travel + .card-travel {
  margin-top: 48px;
}

.card-travel img {
  border-radius: 28px;
}

.content-card {
  margin-top: 20px;
}

.content-card > p > span {
  font-weight: bold;
  color: #333333;
}

.content-card > li {
  margin-left: 30px;
}

.content-card > li, .content-card > li > h3{
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
}

.content-card p {
  margin-top: 4px;

}


.good-for {
  list-style-type: disc;
  margin-left: 30px;
}


.good-for li strong {
  color: #0C51A7;
  font-weight: bold;
}

.good-for > li > strong.accent-purple {
  color: #591B98;
}

.good-for > li > strong.accent-pink {
  color: #E5245E;
}

.good-for > li > strong.accent-orange {
  color: #E95E10;
}

.description {
  margin-top: 40px;
  text-align: center;
}

.credits {
  font-family: "Alice", serif;
  text-align: center;
  margin: 65px auto 48px;
  font-size: 16px;
}

.credits img {
  vertical-align: middle;
}